{% extends "layout.html" %}

{% block extra_head %}
<script type="text/javascript">
    function ajaxDeliverySuccess(data)
    {
        var obj = JSON.parse(data);
        $.each(obj, function(key, value) {   
             $('#restaurant-select')
                 .append($("<option></option>")
                 .attr("value",value.id)
                 .text(value.na)); 
        });
    }

    $(document).ready(function() {

        $('#loading').ajaxStart(function() {
            $(this).show();
        }).ajaxStop(function() {
            $(this).hide();
        });

        $('.datepicker').datepicker();

        $('div#addy input').change(function() {
            if (($('div#addy input#street').val() != "") && 
                ($('div#addy input#city').val() != "") && 
                ($('div#addy input#zip').val() != ""))
            {
                var params = {};
                params["zip"] = $('div#addy input#zip').val();
                params["city"] = $('div#addy input#city').val();
                params["addr"] = $('div#addy input#street').val();

                $.post("/delivery", params, ajaxDeliverySuccess);
            }
        });
    });
</script>

{% endblock extra_head %}

{% block body %}
<div id="create-form">
    <img src="/static/img/large-logo.png"/>

    <div class="well">

    <form method=post action="/">
        <fieldset>
            <label>1. What's your email address?</label>
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                <div class="error">{{error}}</div>
                {% endfor %}
            {% endif %}
            {{ form.email(placeholder="Email address") }}
            <label>2. When should the food arrive?</label>

            {{ form.feast_date(class_="datepicker", value=now) }}
            <span class="add-on"><i class="icon-th"></i></span>

            {{ form.feast_time() }}
            
            <label>3. Where the party at?</label>

            <div id="addy">
            {{ form.street(id="street", placeholder="Street") }}
            {{ form.city(id="city", placeholder="City") }}
            {{ form.zip(id="zip", placeholder="Zip Code") }}
            <div>

            <label>4. Who's cooking for you?</label>
            {{ form.restaurant(id="restaurant-select", placeholder="Places Nearby") }}
            <span id="loading"><img src="/static/img/loading.gif"/></span>

            <label>5. Who's invited?</label>
            {{ form.invitees(placeholder="Email address, Email address, ...") }}
        </dl>
        <p><input type=submit value="Feast!" class="btn"></p>
        </fieldset>
    </form>

    </div>
</div>
{% endblock body %}
