{% extends "layout.html" %}

{% block body %}
<div id="order-summary"> 
    <h1>Congratulations! You're ready to Feast!</h1>
    <dl>
        <dt>What:</dt><dd>Feast from {{restaurant.name}}</dd>
        <dt>When:</dt><dd> {{feast.feast_date.strftime("%A, %B %e, @ %I:%M %p")}}<dd>
        <dt>Where:</dt><dd>{{feast.street}} {{feast.city}}, {{feast.zip}}</dd>
        <dt>Who:</dt>
        <dd>
        {% for participant in feast.participants %}
            {% if participant.orders %}
                {{ participant.email}}
            {% endif %}
        {% endfor %}
        </dd>
    </dl>
    <h1 style="clear:both; color:#fc0">Here's what you ordered:</h2>
    <p>
    {% for menu in restaurant.menu %}
        {% for item in menu.children %}
        {% if item.id == participant.orders[0].tray_string.split('/')[0] %}
        {{participant.orders[0].tray_string.split('/')[1]}} {{item.name}} @ ${{item.price}}
        {% endif %}
        {% endfor %}
    {% endfor %}
    </p>
    <br/>
    <br/>
    <br/>
    <dl>
        <dt>Your total:</dt><dd>{{"${0:.2f}".format(total/100, 'US')}}</dd>
    </dl>
</div>
{% endblock body %}
